* {
  border-spacing: border-box; 
}

// colors
$yellow: hsl(47, 88%, 63%);
$white: hsl(0, 0%, 100%);
$gray-500: hsl(0, 0%, 42%);
$gray-950: hsl(0, 0%, 7%); 



body {
  font-size: 16px;
  font-family: "Figtree";
  background-color: $yellow;

  .main-container {
    position: relative;

    .black-shadow {
      position: absolute;
      z-index: -10; 
      top: 10px;
      left: calc(50% + 10px);
      background-color: $gray-950;
      width: 290px;
      border-radius: 15px;
      height: 100%;
      transform: translate(-50%, 0);
    } 
    
    .card-container {
      z-index: 10;
      margin: 100px auto;
      background-color: $white;
      border: 1px solid $gray-950;
      border-radius: 15px;
      width: 250px;
      padding: 20px; 

      .top-img {
        max-width: 250px;
        height: auto; 
        border-radius: 15px; 
      }

      .tag {
        background-color: $yellow;
        font-size: 12px; 
        font-weight: 700;
        color: $gray-950;
        border-radius: 5px;
        padding: 5px 10px; 
        width: fit-content; 
        display: block; 
        margin: 20px 0 10px; 

      }
      .date {
        color: $gray-950;
        font-size: 12px; 
      }
      h1 {
        font-size: 20px; 
        font-weight: 900;

        &:hover {
          color: $yellow; 
          cursor: pointer; 
        }
      }
      p {
        color: $gray-500;
        font-size: 12px;
        line-height: 1.5; 
      }

      .author-container {
        display: flex;
        align-items: center; 
        gap: 10px; 
        img {
          width: 30px;
          height: 30px; 
        }
        span {
          font-weight: 700; 
          font-size: 12px; 
        }
      }

    }
  
  }
  

  .attribution { font-size: 11px; text-align: center; }
  .attribution a { color: hsl(228, 45%, 44%); }
}


